/* ::::CSS Sequence (7 steps):::: */

/* step1: parentContainer */
/* step2: component */
/* step3: componentContainer */
/* step4: row */
/* step5: column */
/* step6: subColumn */
/* step7: contentContainer */


/* ::::CSS Sequence (7 steps):::: */


/* :::PARENT CONTAINER ALREADY WRITTEN IN STYLE.CSS::: */

/* step2: component */
.hubBentoSection{
    background-color: #f9f9f9;
}

/* step3: componentContainer */
.hubBentoContainer{
    /* background-color: #933434; */
}

/* step4: row */
.hubBentoBody{
    /* background-color: #f9f9f9; */
    display: grid;
    grid-template-areas: 
    "card1 card2 card2 card3 card4"
    "card5 card2 card2 card3 card4"
    "card5 card6 card6 card6 card4"
    "card5 card6 card6 card6 card7"
    "card8 card6 card6 card6 card11"
    "card9 card9 card10 card10 card11";
    grid-template-rows: auto;
    padding: 2rem;
    gap: 2rem;
}


.hubBlock{
    background-color: var(--lightColor2);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hubBox{
    width: 100%;
}

img{
    height: auto;
    width: 100%;
}

.hubBlock:nth-child(1){
    h2{
        font-size: 2.5rem;
        background: var(--secondaryColor);
        color: var(--primaryColor);
        height: 70px;
        width: 70px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    grid-area: card1;

}

.hubBlock:nth-child(2){
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(to left, #A2F019,#E7E7E7);
    h2{
        font-size: 4.5rem;
        font-weight: 600;
        color: var(--tertiaryColor);
        line-height: 1.2;
    }
    grid-area: card2;

}

.hubBlock:nth-child(3){
    background-color: #A2F019;
    padding: 2rem;
    i{
        font-size: 7rem;
        color: var(--secondaryColor);
    }
    grid-area: card3;
}

.hubBlock:nth-child(4){
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    h2{
        font-size: 4rem;
        font-weight: 700;
        color: var(--tertiaryColor);
        line-height: 1.2;
        margin-bottom: 3rem;
    }
    button{
        display: flex;

        justify-content: center;
        text-align: center;
        /* width: 100%; */
        padding: 1rem 5rem;
        background-color: #000000;
        color: var(--primaryColor);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
    }
    grid-area: card4;
}

.hubBlock:nth-child(5){
    h4{
        font-size: 2.5rem;
        color: var(--tertiaryColor);
    }
    grid-area: card5;
}

.card6img{
    width: 100%;
    height: auto;
}
.hubBlock:nth-child(6){
    /* background-color: transparent; */
    padding: 0rem;
    img{
        border-radius: 15px;
    }
    
    grid-area: card6;
}

.hubBlock:nth-child(7){
    h4{
        font-size: 2.5rem;
        color: var(--tertiaryColor);
    }
    p{
        font-size: 1.8rem;
        color: var(--lightColor1);
    }
    
    grid-area: card7;
}

.hubBlock:nth-child(8){
    i{
        font-size: 2.5rem;
        color: #A2F019;
        padding-right: 1rem;
    }
    p{
        font-size: 1.8rem;
        color: var(--QuaternaryColor);
        font-weight: 700;
    }
    grid-area: card8;
}

.hubBlock:nth-child(9){
   background: #000;
    p{
        font-size: 1.8rem;
        color: var(--lightColor1);
    }
    h2{
        font-size: 4rem;
        color: var(--lightColor2);
    }
    grid-area: card9;
}

.hubBlock:nth-child(10){
    i{
        font-size: 4rem;
        color: #A2F019;
        padding-right: 2rem;
    }
    p{
        font-size: 1.8rem;
        color: var(--QuaternaryColor);
        font-weight: 700;
    }
    grid-area: card10;
}

.hubBlock:nth-child(11){
    padding: 0rem;
    img{
        border-radius: 15px;
    }
    grid-area: card11;
}

